#body {
    background-color:lightgray;
}

element.style {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 197px;
  background-color: #172a40;
  height: 97px;
  background-size: 80%;
  opacity: 0.74;
  filter: grayscale(0%) saturate(75%);
}



#title {
    width: 100%;
    height: 100vh;
    background-image: url("../images/mobilebackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0px) brightness(93%) contrast(110%) saturate(103%) sepia(0%);
  }
  

    

  @media (min-width: 768px) {
    #title {
     
      background-image: url("../images/BackgroundDesktop.jpg");
    }
    
      
  .img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    width: 350px;
    height: 300px;
    background-size: contain;
  }
  
  /*pictures*/
  .history-logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  
  
  
  