.table {
    display: table;
    margin: 0 auto;
}

.main {
    height: 100px;
    padding-top: 30px;
    background-image: url('https://images.unsplash.com/photo-1477948879622-5f16e220fa42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: inline;
}