/*trying to center text*/
h1, h2, h3, p, ul, footer
{
    text-align: center;
}

.table {
    display: table;
    margin: 0 auto;
}

.main {
    height: 200px;
    padding-top: 30px;
    background-image: url('https://images.unsplash.com/photo-1477948879622-5f16e220fa42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container {
    height: auto;
    width: auto;
    padding: 10px 5px 7px 3em;
    background: #D5D7E0;
    background: -moz-linear-gradient(top, #D5D7E0 0%, #959DCB 71%, #A4AEE0 100%);
    background: -webkit-linear-gradient(top, #D5D7E0 0%, #959DCB 71%, #A4AEE0 100%);
    background: linear-gradient(to bottom, #D5D7E0 0%, #959DCB 71%, #A4AEE0 100%);
}

.media {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
}
<!--buttons-->
#myButton {
    color: rgb(104, 9, 9); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(rgb(86, 4, 6) 0%, rgb(86, 4, 6) 71%, rgb(86, 4, 6) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
#myButton:hover {
    background: #daa7a8; }
#myButton:active {
    background: #560406; }